* {
  margin: 0rem;
  padding: 0rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e2e8f0;
}

.container {
  display: grid;
  grid-template-rows: 4rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #0284c7;
  color: #f0f9ff;
}

.logo {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-area: 1, 1/ 2, 2;
  font-size: 2.5rem;
  font-weight: bold;
}

.description {
  display: grid;
  align-content: center;
  grid-area: 1, 2/ 2, 4;
}

.shelf {
  display: grid;
  padding: 3rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.div-button {
  display: grid;
  justify-content: center;
  align-content: center;
}

button {
  justify-self: center;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  background-color: #0c4a6e;
  color: #f0f9ff;
  border-radius: .5rem;
  cursor: pointer;
}

.card {
  display: grid;
  padding: 3rem;
  border-radius: 1rem;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.add-book-screen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  justify-items: center;
  align-items: center;
  backdrop-filter: brightness(20%);
}

.add-book-form {
  display: grid;
  position: relative;
  gap: .2rem;
  border-radius: .5rem;
  padding: 2rem;
  background-color: #f0f9ff;
}

.close-form {
  padding: 0;
  background-color:transparent;
  color: black;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

input {
  outline: none;
  border: 1px solid lightgray;
  border-radius: .2rem;
  font-size: 1rem;
  padding: .5rem;
  margin:  0rem 0rem 2rem 0rem;
}